@import '../../global-vars.scss';

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: left;
    }

    
    .grid-container {
    display: grid;
    grid-template-areas:
    'name dnumber status file print '
    'entrydate amount status file print';
    gap: 1px;
    background-color: white;
    padding: 10px;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 12px;
    width: 720px;
    }.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1px 0;
    font-size: 16px;
    }
    
    .dot {
      // text-align: center;
      height: 1.2em;
      width: 1.2em;
      background-color: gray;
      border-radius: 50%;
      display: block;
      float: left;
      margin-right: .3em;
    }

    

    .status-completed {
      .status {
        color: $status_completed;
      }
      .dot {
        background: $status_completed;
      }
    }

    .status-submitted {
      .status{
        color: $orange;
      }
      .dot {
        background-color: $orange;
      }
    }
    .status-saved {
      .status{
        color: gray;
      }
    }
    .status-error {
      .status{
        color: $status_error;
      }
      .dot {
        background-color: $status_error;
      }
    }

    .name { grid-area: name; }
    .dnumber { grid-area: dnumber; }
    .entrydate { grid-area: entrydate; }
    .amount {grid-area: amount}
    .status {
      width: 115px;
      grid-area: status;
      line-height: 1.2em;
    }
    .file {grid-area: file}
    .print {grid-area: print}
    
    
    .return {

      margin-top: 38px;

    }
    .example-events {
      height: 200px;
      border: 1px solid #555;
      overflow: auto;
    }

.print {
  .mat-icon {
    color: $orange;
  }
}

.return {
  .mat-icon {
    color: $orange;
  }
}