<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>

      DR List
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">

    <mat-list role="list">

      <mat-list-item *ngFor = " let Listitem of list" role="listitem">
        <div>
          Name: {{Listitem.name}}

        </div>
        <div>
          D9 No: {{Listitem.dno}}

        </div>
        <div>
          Completed: {{Listitem.completed}} 

        </div>
        <div>
          EntryDate: {{Listitem.entrydate}}

        </div>
        <div>
          Amount: {{Listitem.amount}}

        </div>


      </mat-list-item>

    </mat-list>

  </mat-card-content>
</mat-card>