<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>

      Return
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <app-kpi-card [totalCount]="140" [cardName]="'PLT'"
          [description]="'Lorem ipsum dolor sit amet consectetur, adipisicing elit.'" [productValue]="70"
          [bothValue]="40" [serviceItemValue]="30"></app-kpi-card>

      </mat-grid-tile>

      <mat-grid-tile>
        <app-kpi-card [totalCount]="300" [cardName]="'CVT'"
          [description]="'Lorem ipsum dolor sit amet consectetur, adipisicing elit.'" [productValue]="200"
          [bothValue]="50" [serviceItemValue]="50"></app-kpi-card>


      </mat-grid-tile>

      <mat-grid-tile>
        <app-kpi-card [totalCount]="50" [cardName]="'CST'"
          [description]="'Lorem ipsum dolor sit amet consectetur, adipisicing elit.'" [productValue]="20"
          [bothValue]="20" [serviceItemValue]="10"></app-kpi-card>


      </mat-grid-tile>

      <mat-grid-tile>
        <app-kpi-card [totalCount]="50" [cardName]="'Re-Tread'"
          [description]="'Lorem ipsum dolor sit amet consectetur, adipisicing elit.'" [productValue]="50"
          [bothValue]="0" [serviceItemValue]="0"></app-kpi-card>


      </mat-grid-tile>
    </mat-grid-list>




  </mat-card-content>
</mat-card>
