<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>

      Return
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card>
          <div class="chart-description">
            <div class="chart-count chart-count-blue">
              140
            </div>

            <div class="chart-text">
              <div class="chart-title">

                PLT
              </div>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </div>



          </div>


          <div class="chart-diagram">
            <div class="chart-diagram-item" style="width:50%">
              <div class="chart-diagram-label">Product</div>
              <div class="chart-diagram-line chart-diagram-line-orange"></div>
              <div class="chart-diagram-value">70</div>
            </div>
            <div class="chart-diagram-item" style="width:28.5%">
              <div class="chart-diagram-label">Both</div>
              <div class="chart-diagram-line chart-diagram-line-blue"></div>
              <div class="chart-diagram-value">40</div>
            </div>
            <div class="chart-diagram-item" style="width:21.5%">
              <div class="chart-diagram-label">Service Item</div>
              <div class="chart-diagram-line chart-diagram-line-black"></div>
              <div class="chart-diagram-value">30</div>
            </div>
          </div>





        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <div class="chart-description">
            <div class="chart-count chart-count-darkblue">
              300
            </div>

            <div class="chart-text">
              <div class="chart-title">

                CVT
              </div>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </div>



          </div>


          <div class="chart-diagram">
            <div class="chart-diagram-item" style="width:66%">
              <div class="chart-diagram-label">Product</div>
              <div class="chart-diagram-line chart-diagram-line-orange"></div>
              <div class="chart-diagram-value">200</div>
            </div>
            <div class="chart-diagram-item" style="width:17%">
              <div class="chart-diagram-label">Both</div>
              <div class="chart-diagram-line chart-diagram-line-blue"></div>
              <div class="chart-diagram-value">50</div>
            </div>
            <div class="chart-diagram-item" style="width:17%">
              <div class="chart-diagram-label">Service Item</div>
              <div class="chart-diagram-line chart-diagram-line-black"></div>
              <div class="chart-diagram-value">50</div>
            </div>
          </div>





        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <div class="chart-description">
            <div class="chart-count chart-count-green">
              50
            </div>

            <div class="chart-text">
              <div class="chart-title">

                CST
              </div>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </div>



          </div>


          <div class="chart-diagram">
            <div class="chart-diagram-item" style="width:40%">
              <div class="chart-diagram-label">Product</div>
              <div class="chart-diagram-line chart-diagram-line-orange"></div>
              <div class="chart-diagram-value">20</div>
            </div>
            <div class="chart-diagram-item" style="width:40%">
              <div class="chart-diagram-label">Both</div>
              <div class="chart-diagram-line chart-diagram-line-blue"></div>
              <div class="chart-diagram-value">20</div>
            </div>
            <div class="chart-diagram-item" style="width:10%">
              <div class="chart-diagram-label">Service Item</div>
              <div class="chart-diagram-line chart-diagram-line-black"></div>
              <div class="chart-diagram-value">10</div>
            </div>
          </div>





        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <div class="chart-description">
            <div class="chart-count chart-count-purple">
              50
            </div>

            <div class="chart-text">
              <div class="chart-title">

                Re-Tread
              </div>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </div>



          </div>


          <div class="chart-diagram">
            <div class="chart-diagram-item" style="width:100%">
              <div class="chart-diagram-label">Product</div>
              <div class="chart-diagram-line chart-diagram-line-orange"></div>
              <div class="chart-diagram-value">50</div>
            </div>

          </div>





        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>




  </mat-card-content>
</mat-card>
