.grid-container {
  margin: 20px;
}

.button-color {
  border: none;
  background-color: #fafafa;
  color: black;
  cursor: pointer;

  >span {
    vertical-align: middle;
  }

}

.button-look {
  border: 1px solid orange;
  margin-right: 100px;
  border-radius: 25px;
  padding: 15px;
  background-color: white;
  color: black;
  cursor: pointer;

}

.button-look>span {
  color: orange;
  vertical-align: middle;

}
