<div class="grid-container">
  <button class="button-color" type="button" (click)="goBack()">Back</button>
  <h1 class="mat-h1">Transaction Dashboard</h1>

  <div class="container">

  </div>

  <mat-grid-list cols="2" rowHeight="90px">
    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <app-card-one></app-card-one>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4">
      <app-card-two></app-card-two>
    </mat-grid-tile>
    
   
    <mat-grid-tile [colspan]="getRowsByScreenState()">
        <button class="button-look" mat-flat-button color="primary">Primary</button>
        <button class="button-look" mat-flat-button color="primary">Primary</button>
        <button class="button-look" mat-flat-button color="primary">Primary</button>

    </mat-grid-tile>
    
    
   
    <mat-grid-tile [colspan]="getRowsByScreenState()">
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>


    </mat-grid-tile>

    <mat-grid-tile [colspan]="getRowsByScreenState()" [rowspan]="7">
      <app-card-three></app-card-three>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="getRowsByScreenState()" [rowspan]="7">
      <app-card-four></app-card-four>
    </mat-grid-tile>
  </mat-grid-list>

</div>