.grid-container {
  margin: 20px;
}

.button-color {
border-color: black;
background-color: orange;
color: black;
}

.button-look {
  border-color: orange;
  background-color: white;
  color: black;
  margin: 50px;
  padding: 50px;
  cursor: pointer;

}