<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>email</mat-icon>Overview</a>
      <mat-icon>email</mat-icon><a mat-list-item href="#">National Account Programs</a>
      <mat-icon>email</mat-icon><a mat-list-item href="#">Start Delivery Receipt</a>
      <mat-icon>search</mat-icon><a mat-list-item href="#">Search View Edit Delivery Receipt</a>
      <mat-icon>email</mat-icon><a mat-list-item href="#">Start Return</a>
      <mat-icon>email</mat-icon><a mat-list-item href="#">Manage frequently Used Account</a>
      <mat-icon>info</mat-icon><a mat-list-item href="#">National Account Requirements</a>
      <mat-icon>email</mat-icon><a mat-list-item href="#">Information/Help</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Testing</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
