/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {color: #FFA500}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle { border-color: #FFA500}
.mat-radio-button.mat-accent .mat-radio-inner-circle {background-color: #FFA500; border-color: #FFA500}